
 /* external */
 #bikes{
    background-color: peachpuff;
 }
 #car{
    background-color: brown;
 }
 #hero{
    background-color: aliceblue;
 }

 #heroine{
    background-color: bisque;
 }

